.idea
*.iml
*.blg
*.aux
*.log
*.out
*.toc
*.lol
*.synctex.gz
*.dot
target/

#organize eval dir
eval/**
!eval/execute.sh
!eval/plotEval.R
!eval/evaluator.jar
!eval/findMismatchingHashes.py
!eval/prettyPrintOutput.py
!eval/speedup.py
!eval/plot.py
!eval/README.md
